
.box {
    background: red;
    height: 100px;
    width: 300px;
}
.box p {
    font-size: 20px;
    text-align: center;
    
}
.box-relative-container {
    background: green;
    width: 80%;
     /* height: 100px; */
    }
.box-relative  {
    background: pink;
    width: 50%; 
   /* height: 100px; */

.em-container {
    font-size: 2em;
   }
 
.em-container-2 {
    font-size: 1em;
}