/* * * * * * * * * * * * * * * * * * * * *
General
* * * * * * * * * * * * * * * * * * * * */
/* .wrapper { */
    /* background: #888888;
    width: 80%;
    margin: 0 auto;
} */
   
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-width: 420px;
}

/* * * * * * * * * * * * * * * * * * * * *
Mobile Menu
* * * * * * * * * * * * * * * * * * * * */
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
 
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
 
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
 
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
 
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
    overflow:hidden;
    width:100%;
}
body {
  overflow-x: hidden;
}
 
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}
 
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
 
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
 
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
 
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
 
a svg{
  transition:all .5s ease;
 
  &:hover{
    #transform:rotate(180deg);
  }
}
 
#ico{
  display: none;
}
 
.menu{
  background: #000;
  display: none;
  padding: 5px;
  width: 320px;
  @include border-radius(5px);
 
  #transition: all 0.5s ease;
 
  a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 2px;
    margin: 3px 0;
    text-decoration: none;
    background: #444;
 
    &:nth-child(1){
      margin-top: 0;
      @include border-radius(3px 3px 0 0 );
    }
    &:nth-child(5){
      margin-bottom: 0;
      @include border-radius(0 0 3px 3px);
    }
 
    &:hover{
      background: #555;
    }
  }
}
/* * * * * * * * * * * * * * * * * * * * *
Header
* * * * * * * * * * * * * * * * * * * * */

header {
    background: linear-gradient(90deg, #e20ab3,#9405c0,#6900b9);
    color: white; 
    border-bottom:3px solid rgb(253, 200, 27);
    min-height: 70px;  
    padding: 5px 0;       
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #bcbcbd; */
    width: 80%;
    margin: 10px auto;    
    
}

.logo i {
    display: inline-flex;
    margin-right: 10px;
    font-size: 1.7em;
}

.logo h2 {
    display: inline-flex;
    font-family: tahoma;
    font-size: 1.7em;
    font-weight: normal;
}

.logo span {
    color: rgb(253, 200, 27);
    margin-right: 5px;
}

header ul {
    display : flex;
    /* background: green; */
    align-items: stretch;
     
    /* height:70px; */
    margin : 0;
    padding: 0;
}

header li {
    list-style: none;
    margin : 0 2px;
}

header a {
    color: white;
    padding : 15px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    /* background: #888888; */
}

nav a:hover {
    background-color: #be03959a;
    font-weight: bold;
    text-decoration: none;
}

.active a {
    /* background: #be0396; */
    color: #e20ab3;
    font-weight: bold;
}

.hamburger-icon {
    display: none;
    background: transparent;
    /* background: red; */
    border: none;
    color: white;
}


@media screen and (max-width: 800px) {
    .logo h2 {
        font-size: 1.4em;
        
    }

    .logo i {
        font-size: 1.5em;
       
    }

    header ul {
        display: none;
    }

    .hamburger-icon {
        display: block;
        
    }
}




/* * * * * * * * * * * * * * * * * * * * *
Hero
* * * * * * * * * * * * * * * * * * * * */
.hero {
    height: 640px;;
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url('../images/hero_index.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom:5px solid rgb(253, 200, 27);
}

.hero-content  {
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;    
    margin: auto;
    color: white;
    height:600px;
    
}

.hero-content h1 {
    font-family: tahoma;
    font-size: 3em;
    text-align: center;
    margin-bottom: 0;
}

.hero-content p {
    font-family: 'Times New Roman', Times, serif;
    max-width: 700px;
    text-align: center;
    font-size: 20px;
    line-height: 1.5 ;
    
}

.hero button {
    color: white;
    border: none;
    border-radius: 30px;
    background: #e20ab3;
    padding: 10px 25px;
}

.hero button:hover{
    cursor: pointer;
    background: grey;;
}

/* /* * * * * * * * * * * * * * * * * * * * *
Main
* * * * * * * * * * * * * * * * * * * * */
main {
    /* background: #f1cbe9; */
    width: 70%;
    margin: auto;
    padding: 30px;
}

.intro {
    font-family: Domine;
    line-height: 1.7;
}

.pic-box {
    /* background: grey; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    padding:20px;
    /* text-align: center; */
}

.pic {
    /* background: blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

figure {
    overflow: hidden;
  }

.pic figure img {
    width: 100%;
    transform: scale(1);	
	transition: .3s ease-in-out;
}

.pic figure:hover img {
    transform: scale(1.2);
}

@media screen and (max-width: 800px) {
    .pic-box {
        /* background: grey; */
        display: block;
        width: 90%;
       
    }

}


/* /* * * * * * * * * * * * * * * * * * * * *
Footer
* * * * * * * * * * * * * * * * * * * * */
footer {
    margin-top: 20px;
    padding: 10px 0;
    background: linear-gradient(90deg, #e20ab3,#9405c0,#6900b9);
    
}

.wrapper-footer {
    /* background: #a38c5b; */
    width: 80%;
    margin: auto; 
}

.footer-links {
    /* background: #888888; */
    display:flex;
    justify-content: center;
    margin: auto;
    padding: 5px;
}

.footer-links ul {
    /* justify-content: space-between; */
    margin: 0 auto;
    padding: 0;
}

.footer-links li { 
    /* background: #cf93c2; */
    display: inline-flex;
    list-style: none;
    
} 


.footer-links a { 
    justify-content: space-between;
    text-decoration: none;
    text-transform: uppercase;
    
    font-size: 14px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.7);
    
} 

.footer-links a:hover {
    color: white;
}

.social-icons h2 {
    font-family: arial;
    font-size: 1.0em;
    text-align: center;
    color: white;
    
}

.social-icons ul {
    display: flex;    
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0;
    
}

.social-icons li {
    list-style: none;
    
}

.social-icons a {
    font-size: 2em;
    /* color: white; */
    color: rgba(255, 255, 255, 0.7);
        
}

.social-icons a:hover {
    color: white;
}

.social-icons i {
    /* background: #be0396; */
    padding: 0 10px;
    margin-right: 10px;
    text-align: center;
}


.copy {
    text-align: center;
    padding: 10px 0;
    color:white;
    font-size: 12px;
}

