/* parent */
.flex-conatiner {
    width:70%;
    margin: 0 auto ;
    background: #f55574;
    height: 400px;
    padding: 50px 10px;
    display:flex;
    /* values: row, coloumns */
    flex-direction: row;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
}

.main {
    background-color: red;
}
/* child */
.box {
    height: 100px;
    width: 100px;
    background: #535ef8;
    margin: 10px;
    flex-basis: 120px;
    
}
.box-1 {
    flex-grow:1;
    flex-shrink: 1;
}
.box-2 {
    flex-grow:1;
}
.box-3 {
    flex-grow:1;
}